/* 全局样式 */
html,body,#app {
    height: 100%;
    margin: 0;
    padding: 0;
    min-width: 1366px;
    /* overflow: hidden; */
}

.el-breadcrumb {
    margin: 15px;
    /* font-size: 12px; */
}
 
.el-card {
    box-shadow: 0 1px rgba(0, 0, 0, 0.15) !important;
}

.el-table {
    margin-top: 15px;
    font-size: 12px;
}
.cell {
       text-align: center; 
}
.el-pagination {
    margin-top: 15px;
}
.avatar-uploader {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}
.avatar-uploader .el-upload {
    border: 1px solid #eee;
    border-radius: 50%;
    background-color: #eee;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  .avatar-uploader .el-upload:hover {
    border-color: #409EFF;
  }
  .el-menu {
    align-items: center;
    display: flex;
    border-right:none;
  }
  .el-menu.el-menu--horizontal {
    border-bottom: none;
    
}
.el-header {
    padding: 0;
    height: 180px;
}
.el-main {
    padding: 0;
    overflow: hidden;
}
li {
    display: block
}
.el-rate__icon {
    font-size: 30px;
}
.el-rate__text {
    font-size: 18px;
  }